* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "BIZ UDGothic", sans-serif;
  background-color: #f0f2f5;
  color: #333;
  line-height: 1.6;
}

.mini {
  font-size: 0.8rem;
}


#app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#app-header .hidden {
  display: none;
}
#app-header #title-area,
#app-header #user-area {
  display: flex;
}
#app-header #title-area #header-title {
  font-weight: 700;
  font-size: 1rem;
}
#app-header #title-area #header-title span {
  font-size: 1.2rem;
}
#app-header #user-area #header-username {
  font-weight: 700;
}
#app-header #return-button {
  font-family: "BIZ UDGothic", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  
  padding: 0.3rem;
  margin: 0 0.8rem 0 0;
  width: auto;
  text-align: center;
  cursor: pointer;
  display: block;
  box-sizing: border-box;

  background-color: #e58339;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px rgba(229, 131, 57, 0.25);
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#loading-overlay.hidden {
  display: none;
}
#loading {
  font-size: 6rem;
  color: white;
}


.hidden {
  display: none;
}


#question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* カードや情報を中央寄せ */
  max-width: 400px;
  margin: 40px auto;
  width: auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#question-container.hidden {
  display: none;
}


#show-answer-button {
  font-family: "BIZ UDGothic", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  
  padding: 0.4rem;
  margin: 0 0 1rem 0;
  width: auto;
  text-align: center;
  cursor: pointer;
  display: block;
  box-sizing: border-box;

  background-color: #e58339;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px rgba(229, 131, 57, 0.25);
}


#questions {
  display: flex;
  width: 100%;
  text-align: left;
}
#question-area {
  font-size: 1.1rem;
  text-align: left;
  margin-right: 1rem;
}
#answer-area {
  font-weight: 700;
  font-size: 1.1rem;
  color: #ff5050;
  
}



@media (max-width: 600px) {
  #app-header {
    flex-direction: column;
    gap: 0.5rem;
  }
  
  #loading {
    font-size: 4rem;
  }
  
  #question-area {
    font-size: 1rem;
 }
  #answer-area {
    font-size: 1rem;
  }
}